<!DOCTYPE html>
<html>
  <head>
    <title>Oxnet <%= request.fullpath %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<!--    <meta name="theme-color" content="#ffffff">-->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
  </head>

  <body>
    <style>
      a:hover{
        background-color: transparent;
      }
    </style>
    <%= render 'layouts/header' %>
    <div class="main-panel">
      <%= render 'layouts/navbar' %>
      <div class="content mt-0">
          <%= yield %>
      </div>
    </div>
  </body>
</html>
<script type="application/javascript">
  $(function() {
      if ($('table, .card').length == 0) {
          $('.content').wrapInner('<div class="card p-4 m-4"/>');
          $('.content').wrapInner('<div class="col-md-5 col-xs-12"/>');
          $('.content').wrapInner('<div class="row" />');
      }
      $('.card a').each(function() {
          if(!$(this).hasClass('btn') || $(this).hasClass('btn-sm')) {
              $(this).removeClass('btn-sm')
              $(this).addClass('btn btn-default button');
          }
      });
      $('table a[data-method], td a').each(function() {
          $(this).removeClass('btn')
          $(this).removeClass('btn-default')
          $(this).removeClass('btn-default')
          $(this).addClass('btn-sm btn-light button');

      });
      $('a[data-method="delete"]').each(function() {
          $(this).removeClass('btn-default')
          $(this).addClass('btn-danger');
      });
      $('table').each(function() {
          $(this).addClass('table');
      });
      $('input[type="text"], input[type="select"], input[type="submit"], input[type="number"], textarea, select').each(function() {
          $(this).addClass('form-control');
      });
      $('input[type="select"], select').each(function() {
          $(this).attr('size', 1);
          $(this).css('background-image', 'none');
          $(this).wrap('<label class="wrap"/>')
      });
      $('input[type="submit"]').each(function() {
          $(this).addClass('btn btn-success');
      });
      $('.content>a').each(function() {
          if(!$(this).hasClass('button') && !$(this).hasClass('btn') && !$(this).hasClass('btn-sm')) {
              $(this).addClass('btn btn-default button');
          }
      });
      $('input[value="Search"], input[name="search"]').each(function() {
          $(this).css('maxWidth', '220px')
          $(this).addClass('col-6');
          $(this).addClass('mt-0');
      });
      $('.btn').each(function() {
          if($(this).html() == "Back")
              $(this).html('<i class="material-icons " style="font-size: 24px">chevron_left</i> Back');
      });
      $('table').each(function() {
          $(this).addClass('table table-striped table-responsive-sm');
      });
  });
  jQuery(document).ready(function() {
      jQuery("time.timeago").timeago();
  });
</script>
<style>
  input, select, button {
    font-size:initial;
  }
  @media screen and (min-width: 800px) {
    .btn, btn-sm {
      max-width: 220px;
    }
  }
  .btn-danger, .btn-danger:visited{
    color:white;
  }
  .online {
    height: 12px;
    width: 12px;
    background-color: #00a914;
    border-radius: 50%;
    display: inline-block;
  }
  .offline {
    height: 12px;
    width: 12px;
    background-color: #bb0011;
    border-radius: 50%;
    display: inline-block;
  }
  .btn-online, .btn-online:hover {
    border-left: 7px solid #0baf00;
  }
  .btn-offline, .btn-offline:hover {
    border-left: 7px solid #bb0011;
  }
  .nav-link *{
    cursor: pointer;
  }
  .btn .material-icons{
    font-size: 24px;
  }

  label.wrap {
    position: relative;
    display: block;
  }

  select.dropdown{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  label.wrap:after {
    content:"\f078";
    font-family: FontAwesome;
    color: #666;
    position: absolute;
    right: 5px;
    top:25%;
    z-index: 1;
    pointer-events: none;
  }
</style>


